@charset "UTF-8";
.header {
  width: 100%;
  height: 100px;
  color: #fff;
  background-color:#dcdcdc;
  text-align: center;
  position: fixed; 
  margin: auto;
  z-index: 1000;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.logo{
  margin-top:10px;
}

.logo img{
  position:relative;
  top:13px;
  right:480px;
}

.drawer_hidden {
  display: none;
}

.drawer_open {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 380px;
  z-index: 100;/* 重なり順を一番上にする */
  cursor: pointer;
}

.drawer_open span,
.drawer_open span:before,
.drawer_open span:after {
  content: '';
  display: block;
  height: 2px;
  width: 30px;
  border-radius: 3px;
  background: #333;
  transition: 0.5s;
  position: absolute;
}

.drawer_open span:before {
  bottom: 8px;
}

.drawer_open span:after {
  top: 8px;
}

#drawer_input:checked ~ .drawer_open span {
  background: rgba(255, 255, 255, 0);
}

#drawer_input:checked ~ .drawer_open span::before {
  bottom: 0;
  transform: rotate(45deg);
}

#drawer_input:checked ~ .drawer_open span::after {
  top: 0;
  transform: rotate(-45deg);
}

.nav_content {
  width: 100%;
  height: 100%;
  position: fixed;
  bottom: 100%;
  left: 0%; /* メニューを画面の外に飛ばす */
  z-index: 99;
  background: rgb(110, 110, 110);
  transition: .5s;
  text-align: center;
  padding-top: 20px;
}

.nav_list {
  list-style: none;
  font-size:25px;
}

.nav_item a {
  color: #fff;
  text-decoration: none;
}


#drawer_input:checked ~ .nav_content {
  bottom: 0;/* メニューを画面に入れる */
  
}

@media (max-width: 768px) {
    .nav {
    justify-content: flex-end;
    align-items: center;
  }

  .nav_content {
    right: 10px;
    left: auto;
  }

}
