/*.page{*/
/*    width:980px;*/
/*    margin:0 auto;*/
/*}*/

/*.profile_img img{*/
/*    width:180px;*/
/*    height:180px;*/
/*    border-radius:135px;*/
/*    margin-top:30px;*/
/*}*/

.profile {
  width: 100%;
  max-width: 980px;
  margin: 0 auto;
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
}

.profile_img {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}

.profile_img img {
  width: 180px;
  height: 180px;
  border-radius: 135px;
}

.profile_link {
  text-align: center;
  margin-top: 20px;
}


.delete {
  margin-top: 20px;
  text-align:center;
  display: block;
}
