.new_post{
    width:100%;
    margin:0 auto;
    text-align:center;
}

h3{
    text-align:center;
}

.selection {
    display:block;
    justify-content:center;
    text-align:center;
    margin:5px 0;
    font-size:18px;
    padding-top:10px;
    padding-bottom:10px;
}

select, optgroup{
    width:300px;
    height:30px;
    text-align:center;
}

.genre_name{
    margin-top:10px;
}

.img_kins{
    margin-top:10px;
}

button{
    font-size:20px;
    width:120px;
    height:50px;
    border-radius:10px;
}

@media (max-width: 768px) {
 .new_post {
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
  }
