#detail {
    width:980px;
    margin:0 auto;
    text-align:center;
}


.username {
    width:350px;
    height:10px;
    color:#DCDCDC;
    margin:30px auto;
}

.data_container{
    text-align:center;
}

.imgcontainer {
    border:1px solid #DCDCDC;
    width:640px;
    height:426px;
    margin: 100px 170px;
}

.imgdetail {
    width:640px;
    height:426px;
}