#detail {
    width:980px;
    margin:0 auto;
}

.username {
    text-align:center;
    color:#DCDCDC;
}

.select {
    border:1px solid #003059;
    padding:5px;
    border-radius:5px;
    flex:1; 
}

.imgcontainer {
    
}