#detail {
    width:980px;
    margin:0 auto;
}

section{
    text-align:center;
}

.username {
    width:450px;
    height:10px;
    text-align:center;
    color:#DCDCDC;
    margin:auto 250px;
}

.select {
    display:inline-block;
    text-align:center;
}
.select ul{
    display: flex;
    margin:90px 260px;
}

.select ul li{
    text-decoration: none;
    width:200px;
    text-align:center;
    border:1px solid #ddd;
}


.imgcontainer {
    border:1px solid #DCDCDC;
    width:640px;
    height:426px;
    margin: 100px 170px;
}

.imgdetail {
    width:640px;
    height:426px;
}
.text{
    text-align:center;
}