.main{
  width:980px;
  margin:0 auto;
}

.btn-top {
  text-align:center;
  padding: 1em 1em;
  text-decoration: none;
  color: black;
  font-size: 1.5em;
  font-family: sans-serif;
}

img{
  display:flex;
}
.btn{
  padding-top: 50px;
  display: flex;
  justify-content: space-evenly;
}

.btn-genre-scenery .btn-genre-food .btn-genre-flora {
  justify-content: center;
  width:40px;
  height:20px;
}
