.main {
  width:100%;
  max-width: 980px;
  margin: 0 auto;
  padding:120px 20px 0 20px;
}

.col-img {
  margin-top:5px;
  margin-botom:0;
  text-align: center;
  position: relative;
}

.col-md-8.mx-auto {
  margin-top: 20px;
  margin-bottom:20px;
}

.col-img p {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: #ffffff;
  font-size: 55px;
}


.island_link {
  margin-top:0;
  text-align: center;
}

.button {
  display: inline-block;
  margin: 10px;
  border: 10px;
  font-size: 16pt;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  padding: 20px 20px;
  background-color: #dcdcdc;
  color: #696969;
  line-height: 1em;
  border-radius: 10px;
}

.genre-container {
  margin-top: 10px;
  display: inline-block;
  text-align: center;
}

.genre {
  width: 100%;
}

/*.island-detail {*/
/*  margin-top: 30px;*/
/*  grid-template-columns: repeat(2, 1fr);*/
/*  display: grid;*/
/*  gap: 25px;*/
/*}*/

.genre_btn {
  text-align:center;
  margin-top:10px;
  margin-bottom:30px;
  display:flex;
  justify-content: center;
}

.genre_btn_l {
  background-color: #b0c4de;
  width: 360px;
  height: 70px;
  text-align: center;
  line-height: 70px;
  font-size: 20px;
  margin-left: 30px;
  border-radius: 10px;
  text-decoration: none;
  color: #000000;
}

.float_clr {
  clear: both;
}

.photo-container {
  width: 100%;
  max-width: 980px;
  margin: 0 auto;
  padding: 0 20px;
}

.island-detail {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; /* 余白を均等に分配 */
  gap: 20px; /* 写真間の間隔 */
}

.photo-item {
  width: calc(50% - 10px); /* 画面幅の50%に設定（2列の場合） */
  margin-bottom: 20px;
  position: relative;
}

.photo-item img {
  display: block;
  width: 100%;
  height: auto;
  margin-bottom:10px;
  aspect-ratio: 1.4/ 1; /* アスペクト比を1:1に設定 */
}



/*.island-detail{*/
/*  display: flex;*/
/*  flex-direction: column;*/
/*  position: relative;*/
/*  width: auto;*/
/*  height: auto;*/
/*  grid-template-columns: repeat(2, 1fr);*/
/*  display: grid;*/
/*  column-gap:10px;*/
/*  gap:30px;*/
/*  margin-bottom: 60px;*/
/*  margin-top:40px;*/
/*}*/

/*.photo-item img{*/
/*  display:block;*/
/*  margin:0 auto;*/
/*  max-width:100%;*/
/*  height:auto;*/
/*  -o-object-fit: cover;*/
/*  margin-bottom:20px;*/
/*}*/


@media (max-width: 768px) {
  .photo-item {
    width: 100%; /* 画面幅いっぱいに表示 */
  }
}
/*@media (max-width: 768px) {*/
  /*.island-detail {*/
  /*  grid-template-columns: repeat(1, 1fr);*/
  /*  gap: 20px;*/
  /*}*/
  /*.main{*/
  /*  margin-top:100px;*/
  /*}*/
/*}*/
