
.page {
  width:100%;
  max-width: 980px;
  margin: 0 auto;
  padding:0 20px;
  box-sizing:border-box;
}

.text_username p {
  color: #c0c0c0;
  text-align: center;
  font-size: 30px;
  text-decoration: none;
}

.img_p{
  margin-top:130px;
}

.profile_img img{
  width:250px;
  height:250px;
  border-radius:135px;
}

.photolist {
  align-items: center;
  justify-content: center;
  grid-template-columns: repeat(2, 1fr);
  display: grid;
  gap: 80px;
  margin-bottom: 60px;
}

.island-detail {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; /* 余白を均等に分配 */
  gap: 20px; /* 写真間の間隔 */
}

.photo-item {
  width: calc(50% - 10px); /* 画面幅の50%に設定（2列の場合） */
  margin-bottom: 20px;
  position: relative;
}

.photo-item img {
  display: block;
  width: 100%;
  height: auto;
  margin-bottom:10px;
  aspect-ratio: 1.4/ 1; /* アスペクト比を1:1に設定 */
}

/*.photo-item {*/
/*  position: relative;*/
/*  -aspect-ratio:1/1;*/
/*}*/

.text_size {
  position: relative;
  top: -30%;
  left:0;
  right:0;
  transform: translateY(-15%);
  margin-top:20px;
  padding: 20px;
  text-align: center;
  word-break: break-word;
  overflow: hidden;
  display: -webkit-box;
  white-space: pre-wrap;
  background-color: rgba(255, 255, 255, 0.8);
}

@media (max-width: 768px) {
  .page {
    width: 100%;
    max-width: none;
    padding: 20px; 
  }

  .photolist {
    grid-template-columns: repeat(1, 1fr);
    gap:50px;
  }
  
  .text-size {
    white-space: normal;
  }
}
