@charset "UTF-8";

/*伊豆諸島一覧*/
.islands-list{
  width: 100%;
  margin:0 auto;
}

h2{
  text-align:center;
  border:1px solid #CCCCCC;
  margin:50px;
  display:block;
}

.island-container{
  grid-template-columns: repeat(2, 1fr);
  display: grid;
  gap: 27px;
}

.island{
  display:flex;
  flex-direction: column;
  background-color: #333;
}

.island img{
  width:550px;
}

section{
  display:block;
}

.w-container{
  width: min(92%, 1166px);
  margin: auto;
}

.island-link{
  width:auto;
}

@media (max-width: 468px){
  .island-container {
    grid-template-columns: repeat(1, 1fr);
  }
}