@charset "UTF-8";

/*伊豆諸島一覧*/
.islands-list{
  width: 100%;
  margin:0 auto;
}

h2{
  text-align:center;
  border:1px solid #CCCCCC;
}

.island-container{
  grid-template-columns: repeat(2, 1fr);
  display: grid;
  gap: 27px;
}

.island{
  display:flex;
  flex-direction: column;
}

section{
  display:block;
}

.w-container{
  width: min(92%, 1166px);
  margin: auto;
  position: relative;
}

.island-link{
  width:auto;
}

@media (max-width: 468px){
  .island-container {
    grid-template-columns: repeat(1, 1fr);
  }
}
/*.oshima {*/
/*  display:flex;*/
/*  width:100%;*/
/*  height:100%;*/
/*  margin:auto 40px;*/
/*}*/

/*.toshima{*/
/*  display:flex;*/
/*  width:100%;*/
/*  height:100%;*/
/*  margin:5px 40px;*/
/*}*/

/*.niijima{*/
/*  display:flex;*/
/*  width:100%;*/
/*  height:100%;*/
/*  margin:5px 40px;*/
/*}*/
/*.shikinejima{*/
/*  display:flex;*/
/*  width:100%;*/
/*  height:100%;*/
/*  margin:5px 40px;*/
/*}*/
/*.kouzushima{*/
/*  display:flex;*/
/*  width:100%;*/
/*  height:100%;*/
/*  margin:5px 40px;*/
/*}*/
/*.miyakejima{*/
/*  display:flex;*/
/*  width:100%;*/
/*  height:100%;*/
/*  margin:5px 40px;*/
/*}*/
/*.mikurashima{*/
/*  display:flex;*/
/*  width:100%;*/
/*  height:100%;*/
/*  margin:5px 40px;*/
/*}*/
/*.hachijojima{*/
/*  display:flex;*/
/*  width:100%;*/
/*  height:100%;*/
/*  margin:5px 40px;*/
/*}*/
/*.aogashima{*/
/*  width:100%;*/
/*  height:100%;*/
/*  margin:5px 40px;*/
/*}*/