@charset "UTF-8";

/*伊豆諸島一覧*/
.container{
  width: 960px;
  margin: auto;
}

h1{
  text-align:center;
}

.oshima {
  width:300px;
  height:300px;
  float:left;
  border: 2px solid black;
}

.toshima{
  width:300px;
  height:300px;
  float:right;
  border: 2px solid black;
}

.niijima{
  width:300px;
  height:300px;
  float:left;
  border: 2px solid black
}
.shikinejima{
  width:300px;
  height:300px;
  float:right;
  border: 2px solid black
}
.kouzushima{
  width:300px;
  height:300px;
  float:left;
  border: 2px solid black
}
.miyakejima{
  width:300px;
  height:300px;
  float:right;
  border: 2px solid black
}
.mikurashima{
  width:300px;
  height:300px;
  float:left;
  border: 2px solid black
}
.hachijojima{
  width:300px;
  height:300px;
  float:right;
  border: 2px solid black
}
.aogashima{
  width:300px;
  height:300px;
  float:none;
  border: 2px solid black
}